<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><?php echo $data['web_title'];?></title>
    <?php if(isset($runBack) && $runBack){ ?>
    <script>
        window.onload = function(){
            pushHistory();
            window.addEventListener(
                "popstate",
                function (e) {
                    location.href = "<?php echo $runBackUrl;?>";
                },
                false
            );
            function pushHistory() {
                var state = {
                    title: "title",
                    url: "#",
                };
                window.history.pushState(state, "title", "#");
            }
            let audio = document.querySelector('audio');
            let btn = document.querySelector("body");
            let flag = false;
            btn.onclick =()=>{
                if(flag){
                    return
                    audio.pause();
                    flag = false
                }else{
                    audio.play();
                    flag = true
                }
            }
        }
    </script>
    <?php } ?>
    <script>
        //判断客户端设备，选择写入meta
        function init_viewport(){
            console.log(navigator.userAgent);
            if(navigator.userAgent.indexOf('Android') != -1){
                document.write('<meta name="viewport" content="width=500, target-densitydpi=device-dpi, user-scalable=0">');
            }else if(navigator.userAgent.indexOf('iPhone') != -1){
                var phoneScale= parseInt(window.screen.width)/500;
                document.write('<meta name="viewport" content="width=500, min-height=750, initial-scale='+phoneScale+', maximum-scale='+phoneScale+', user-scalable=0"/> ');
            }else{
                document.write('<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> ');
            }
        }
        init_viewport();
    </script>

    <!-- 仅针对IOS的Safari顶端状态条的样式（可选default/black/black-translucent ） -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- IOS中禁用将数字识别为电话号码/忽略Android平台中对邮箱地址的识别 -->
    <meta name="format-detection" content="telephone=no, email=no" />
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- 微软的老式浏览器 -->
    <meta name="MobileOptimized" content="320">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">

    <style>
        * {
            margin: 0px;
            padding: 0px;
            -webkit-box-sizing: border-box;
        }
        body {
            background-color: white;
        }
        a {
            color: white;
            text-decoration: none;
        }

        #div_container { /*最外层div，用于居中兼容PC和移动*/
            position: relative;
            width: 500px;
            margin: 0px auto;
            font-size: 1em;
        }

        #div_start_bg {
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 44;
            width: 100%;
            height: 100%;
            background-color: white;
        }

        .div_pure_words { /*文字部分的最外层，用于定位*/
            position: relative;
            display: none;
        }
        .div_pw_bg { /*背景设置在这里*/
            width: 500px;
            min-height: 500px;
            background-repeat: repeat;
            background-size: 100%;
            background-attachment: fixed;
        }
        .div_pw_height {
            visibility: hidden;
            padding: 30px;
            color: white;
            font-size: 1.1em;
            font-family: "Microsoft YaHei","Arial";
            text-align: justify;  /*为了使文字两端对齐 */
            white-space: pre-wrap; /*保留换行效果*/
        }
        .div_pw_typed {
            position: absolute;
            left: 0;
            right: 0;  /*4个方向定位使div充满整个画画*/
            top: 0;
            bottom: 0;  /*4个方向定位使div充满整个画画*/
            width: 500px;
            padding: 30px;
            padding-top:70px!important;
            background: rgba(255,255,255,0.8); /*半透明效果*/
            text-align: justify;  /*为了使文字两端对齐 */
            background-image: url(<?php echo $data['next_img'];?>)     /*最后一页背景图*/
        }
        #span_pw_typed {
            width: 100%; /*为了使文字两端对齐 */
            font-size: 1.1em;
            font-family: "Microsoft YaHei","Arial";
            white-space: pre-wrap; /*保留换行效果*/
        }
        .typed-cursor{
            opacity: 1;
            color: red;
        }
    </style>

    <!-- 按钮部分的样式 -->
    <!-- 引入模板css -->
    <link type="text/css" rel="stylesheet" href="https://source-md.oss-cn-hangzhou.aliyuncs.com/h5-fans/yuyanyouzhi/theme_public_btn.css">

    <!-- 按需加载，选择此片头时方才加载 -->
    <!-- 引入模板css -->
    <link type="text/css" rel="stylesheet" href="https://source-md.oss-cn-hangzhou.aliyuncs.com/h5-fans/yuyanyouzhi/start_courage.css">

    <!-- 按需加载，选择此片头时方才加载 -->
    <!-- 引入模板css -->
    <link type="text/css" rel="stylesheet" href="https://source-md.oss-cn-hangzhou.aliyuncs.com/h5-fans/yuyanyouzhi/attachment_timer.css">
</head>

<body>

<div id="div_container"> <!-- 最外层div，用于居中兼容PC和移动 -->
    <div id="div_start_bg"></div> <!-- 用于遮挡主题，作为片头的背景 -->

    <!-- 按需加载，选择此片头时方才加载 -->



    <!-- 按需加载，选择此片头时方才加载 -->
    <div id="div_courage"><!-- 最外层，用于响应式居中 -->
        <div id="div_courage_top">
            <h2></h2>
            <span></span>
        </div>
        <div id="div_c_typed_outter"><!-- 用于设置背景 --><!-- 第一页背景 -->
            <div id="div_c_typed_inner"><!-- 用于存放文字div -->
                <h1>To： 小鹿仙女</h1> <!-- 用户发给一个name -->
                <div id="div_courage_img">
                    <img><!-- 第一页小图 -->
                </div>
                <div id="div_c_typed">
                    <span id="span_c_typed"></span><!-- 第一页出现的文字 -->
                </div>
            </div>
        </div>
    </div>









    <!-- 以上是动画和视频片头  以上是动画和视频片头  以上是动画和视频片头  以上是动画和视频片头 -->
    <!-- 以上是动画和视频片头  以上是动画和视频片头  以上是动画和视频片头  以上是动画和视频片头 -->
    <!-- 以上是动画和视频片头  以上是动画和视频片头  以上是动画和视频片头  以上是动画和视频片头 -->



    <div class="div_pure_words"> <!-- 文字部分的最外层，用于定位 -->
        <div class="div_pw_bg"><!-- 背景设置在这里 --><!-- 第二页出现背景 -->
            <div class="div_pw_height">
                <!-- 正文的内容复制到这里面，撑开整个文档的高度 -->
            </div>
        </div>
        <div class="div_pw_typed"> <!-- 正文部分，绝对定位 -->
            <span id="span_pw_typed"></span><!-- 第二页出现文字 -->
        </div>
    </div>



    <!-- 按需加载，选择此attachment时方才加载 -->
    <div id="div_at_timer">
        <div class="div_timer_main">
            <span class="span_timer_desc"></span>
            <span class="span_timer_dhis"></span>
        </div>
    </div>


    <div id='div_btn_container'> <!-- 按钮部分的最外层，处于文档流之中 -->
        <div id="div_btn_inner"> <!-- 按钮部分内层，用于定位 -->

            <div class='div_music_tips'></div>
            <div class="div_btn" id="div_music" onclick="music_switch()" style="-webkit-animation: rotate_round 1s linear infinite"> <!-- 音乐按钮部分 -->
                <img id='img_music' src='https://source-md.oss-cn-hangzhou.aliyuncs.com/h5-fans/yuyanyouzhi/music_ico.png'> <!-- 引入模板img -->
                <audio id="audio_music" autoplay="autoplay" loop="loop"><!-- 引入模板音乐 -->
                    <source type="audio/mpeg"/>
                    <!-- 您的浏览器不支持播放音乐 -->
                </audio>
            </div>

            <div class='div_record_tips'></div>
            <div class="div_btn" id="div_record" onclick="record_switch()" style="-webkit-animation: rotate_vibrate 1s linear infinite"> <!-- 录音按钮部分 -->
                语音
                <audio id="audio_record" loop="loop">
                    <source type="audio/mpeg"/>
                    <!-- 您的浏览器不支持播放音乐 -->
                </audio>
            </div>

            <!-- 只在提交状态显示 只在提交状态显示 只在提交状态显示 只在提交状态显示 -->
            <div class="div_btn" id='div_support'>
                <a href="<?php echo $gengduoUrl;?>"><span>更多</span></a>
            </div>
            <!-- 只在提交状态显示 只在提交状态显示 只在提交状态显示 只在提交状态显示 -->

            <!-- 只在未提交状态显示 只在未提交状态显示 只在未提交状态显示 只在未提交状态显示 -->

            <!-- 只在未提交状态显示 只在未提交状态显示 只在未提交状态显示 只在未提交状态显示 -->
        </div>
    </div>
</div>





<!-- 引入模板js -->
<script src="https://source-md.oss-cn-hangzhou.aliyuncs.com/h5-fans/yuyanyouzhi/jquery-2.0.3.min.js"></script>
<script src="https://source-md.oss-cn-hangzhou.aliyuncs.com/h5-fans/yuyanyouzhi/typed.min.js"></script>
<script src="https://source-md.oss-cn-hangzhou.aliyuncs.com/h5-fans/yuyanyouzhi/assist.js"></script>
<script>
    var window_height=Math.max(window.innerHeight,document.documentElement.clientHeight,document.body.clientHeight,$(window).height());
    console.log('window_height ->'+window_height);

    var theme='pure_words';
    console.log('theme ->'+theme);
    var theme_content={
        "pure_words_content":"<?php echo $data['next_text'];?>",      //最后文案
        "typed_bool":"typed_y",
        "cursor_char":"cursor_heart",
        "bg_style_pure_words":"bg_simple",
        "bg_img":"",
        "simple_page_content":"",
        "video_page_content":""
    };
    console.log(theme_content);

    var json_music={
        "bool_save":false,
        "music_select":"m_online",
        "m_online_url":"<?php echo $data['bgm'];?>"   //背景音乐
    };
    console.log(json_music);
    var json_record={"bool_save":false};
    console.log(json_record);
    var signPackage={"appid":"wxc8e39d54541e000b","timestamp":1647508929,"nonceStr":"SVglERSArP2MYgFa","url":"http:\/\/www.jiatuma.com\/Home\/Play\/play_show\/ws\/YGhmlmhk","signature":"d76286bf94bc2beb6d66f2866bc266a87cbe9f2b","rawString":"jsapi_ticket=LIKLckvwlJT9cWIhEQTwfI0af0FXeoJ7a1oPnHIZ36r6zD_0pHCe6NC4l2ghVOxZ0QWOtn0XGsbuMST_CO9T1g&noncestr=SVglERSArP2MYgFa&timestamp=1647508929&url=http:\/\/www.jiatuma.com\/Home\/Play\/play_show\/ws\/YGhmlmhk"};


    var pure_words_content=theme_content['pure_words_content'];
    var str_cursorChar;
    var typed_bool;

    var interval_pw_height;
    var height_div_pw=$('.div_pw_height').height();
    function init_pure_words(){
        //允许内容为空时直接展示，不设置为随机内容，用于空主题
        if(typeof(pure_words_content)=='undefined'){ //处理全新作品
            var arr_random_text=random_text_array(12); //获取随机的模板文字
            // arr_random_text.push('你现在看到的只是案例，文字是可以自定义哒，6000字以下');
            pure_words_content=arr_random_text.join('\r\r');
        }
        $('.div_pw_height').html(pure_words_content+'666666');  //初始化复制内容，撑开文档高度

        // 初始化设置div的bg图片 初始化设置div的bg图片
        if(typeof(theme_content['bg_style_pure_words'])!='undefined' && theme_content['bg_style_pure_words']=='bg_opacity'){
            if(bool_empty(theme_content,'bg_img')==false){
                $('.div_pw_bg').css({'background-image': 'url('+theme_content['bg_img']+')'});
            }
        }

        //以下是打字效果的js
        if(bool_empty(theme_content,'cursor_char')==false){
            switch(theme_content['cursor_char']){ //设置打字光标的样式
                case 'cursor_heart':
                    str_cursorChar='❤';
                    break;
                case 'cursor_sub':
                    str_cursorChar='_';
                    break;
                case 'cursor_music':
                    str_cursorChar='♫';
                    break;
                case 'cursor_star':
                    str_cursorChar='★';
                    break;
                case 'cursor_sun':
                    str_cursorChar='☀';
                    break;
                default:
                    str_cursorChar='|';
            }
        }else{ //处理全新作品，默认显示打字效果
            str_cursorChar='❤';
        }

        //判断用户有没有选择打字效果
        if(bool_empty(theme_content,'typed_bool')==false){
            typed_bool=theme_content['typed_bool']=='typed_y'?true:false;
        }else{
            typed_bool=false; //默认显示打字效果
        }
        // console.log(typed_bool);

        display_pure_words();
        $('.div_pure_words').fadeIn();

        interval_pw_height=setInterval(function(){
            console.log('div_pw_height -> '+$('.div_pw_height').height());
            var height_div_pw_latest=$('.div_pw_height').height();
            if(height_div_pw_latest>height_div_pw){
                height_div_pw=height_div_pw_latest;
            }else{
                clearInterval(interval_pw_height);
                $('.div_pw_height').height(height_div_pw_latest+100);
                if($('.div_pw_height').height()<window_height){
                    $('.div_pw_height').height(window_height); //不能小于窗口的高度
                    console.log('let us be high as window');
                }
            }
        },100);
    }



    function display_pure_words(){
        if(typed_bool){
            var typed_pure_words=new Typed('#span_pw_typed', {
                strings: [pure_words_content], //输入内容, 支持html标签
                typeSpeed: 120, //打字速度
                cursorChar: str_cursorChar,//替换光标的样式
                contentType: 'html', //值为html时，将打印的文本标签直接解析html标签
                onComplete: function(abc){
                    // console.log(abc);
                    console.log('finished typing words');
                },
            });
        }else{
            //如果不需要打字效果就直接显示
            $('#span_pw_typed').html(pure_words_content).fadeIn();
        }
        init_attachment();
    }



    function random_text_array(length){  //获取随机的模板文字
        console.log('random_text_array');
        var arr_res=[];
        var arr_random=[];
        while(arr_random.length<length){
            // var random_num=Math.floor(Math.random()*(arr_as_pics.length-0))+0;
            var random_num=Math.floor(Math.random()*(arr_as_words_love.length)); //随机取值
            if(arr_random.indexOf(random_num)==-1){
                arr_random.push(random_num);
            }
        }
        // console.log(arr_random);
        for(var i=0; i<length; i++){
            arr_res.push(arr_as_words_love[arr_random[i]]); //获取随机的模板文字
        }
        return arr_res;
    }



    function bool_empty(p_json,c_key){
        if(typeof(p_json[c_key])=='undefined' || p_json[c_key]==='' || p_json[c_key]==='null' || p_json[c_key]===null || p_json[c_key]===false){
            return true;
        }
        return false;
    }
    // 引入模板img
    var wx_share_data={
        "title":"\u3010YGhmlmhk\u3011 \u53ef\u4ee5",
        "desc":"\u3010YGhmlmhk\u3011 \u6211\u6709\u8bdd\u60f3\u548c\u4f60\u8bf4\uff0c\u5e0c\u671b\u4f60\u80fd\u70b9\u8fdb\u6765\u770b\u770b\uff0c\u6211\u7528\u5fc3\u505a\u4e86\u597d\u4e45\u4e86\u5462",
        "link":"<?php echo isset($data['link']['value'])?$data['link']['value']:'https://mp.weixin.qq.com/s/obN7ih1y59nky2jucJ0oBg';?>",
        "imgUrl":"http:\/\/www.jiatuma.com\/Public\/img\/wx_share_img.jpg"
    };
    console.log(wx_share_data);
</script>








<!-- 按需加载，选择此片头时方才加载 -->



<script> 																																																		// 引入模板img																	// 引入模板img
var start_content={
    "intersect_text":"f\u2006g\u2006g\u2006g\u2006h\u2006g\u2006g\u2006x\u2006f",
    "cursor_char":"cursor_heart",
    "bg_style":"bg_custom",
    "bg_img":"<?php echo $data['back_img'];?>",       //背景图片
    "img_bool":"img_true",
    "img_src":"<?php echo $data['small_img'];?>",      //小图图片
    "dbcake_question":"",
    "dbcake_answer":"",
    "dbcake_title":"",
    "dbcake_wishes":"",
    "courage_h1":"<?php echo $data['big_title'];?>",        //大标题
    "courage_h2":"<?php echo $data['small_title'];?>",        //小标题
    "courage_receiver":"<?php echo $data['name'];?>",         //给谁的
    "courage_text":[
    <?php
        $blessing_str=$data['blessing'];
$text=explode("\n",$blessing_str);
foreach($text as $k=>$v){
    echo '"'.$v.'",';
}
    ?>
] //打字的三句话
}; //可能为null
console.log(start_content);

var start;
$(function(){
    //此事件为触发互动创意
    start='courage'; //可能为null
    init_start(start);
});

function init_start(start){
    console.log('init_start ->'+start);
    switch(start){
        case 'loveformat':
            $('.div_loveformat').show();
            init_loveformat();
            break;
        case 'hearttree':
            $('#div_hearttree').show();
            init_hearttree();
            break;
        case 'courage':
            $('#div_courage').show();
            init_courage();
            break;
        case 'birthdaycake':
            $('#div_dbcake').show();
            init_birthdaycake();
            break;
        case 'intersect':
            $('#div_intersect').show();
            init_intersect();
            break;
        case 'onlyyou':
            $('#div_onlyyou').show();
            init_onlyyou();
            break;
        default:
            init_theme();
    }
}

//开始动画主体部分
function init_theme(){
    console.log('init_theme');
    $('#div_start_bg').fadeOut();
    init_pure_words();
}
</script>





<!-- 按需加载，选择此片头时方才加载 -->
<!-- 引入模板js -->
<script src="https://source-md.oss-cn-hangzhou.aliyuncs.com/h5-fans/yuyanyouzhi/start_courage.js"></script>






<script>
    var attachment='timer'; //可能为null
    var attached_content={
        "bool_save":false,
        "timer_desc":"我们已经在一起",     //底部文案
        "timer_time":"<?php echo $data['date'];?>"   //地步时间开始时间
    }; //可能为null
    console.log(attached_content);

    function init_attachment(){  //开始attachment
        console.log('init_attachment ->'+attachment);
        switch(attachment){
            case 'timer':
                init_at_timer();
                break;
            default:
                return;
        }
    }
</script>

<!-- 按需加载，选择此attachment时方才加载 -->
<!-- 引入模板js -->
<script src="https://source-md.oss-cn-hangzhou.aliyuncs.com/h5-fans/yuyanyouzhi/attachment_timer.js"></script>

<!-- 引入模板js -->
<script src='https://source-md.oss-cn-hangzhou.aliyuncs.com/h5-fans/yuyanyouzhi/jweixin-1.6.0.js'></script>
<!-- 引入模板js -->
<script src='https://source-md.oss-cn-hangzhou.aliyuncs.com/h5-fans/yuyanyouzhi/theme_common.js'></script> <!-- 音乐控制和微信设置等公共部分js外部引入 -->

</body>
</html>
